*{
    box-sizing: border-box;
}
.container{
    background-color: rgb(212, 239, 197);
    padding: 10px;
    margin: 10px;
    border: 3px solid rgb(5, 108, 5);
    border-radius: 15px;
    text-align: center;
}
body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 15px;
    padding: 8px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea{
    width: 70%;
    padding: 12px;
    border: 1px solid rgb(47, 47, 241);
    border-radius: 5px;
    margin: 10px;

}
.Main_title{
    text-align: center;
    
}
input[type="submit"]{
    background-color: rgb(16, 154, 122);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}